<!DOCTYPE html>
<html>
<head>
<meta charset ="utf-8">
<title> QUANG XAU TRAI</title>
</head>
<body>
<div class = " top-wrapper">
<div class =" top-detail">
<h2 class = subtitle">帰りましょう</h2>
<h1 class = " title">ahiii</h1>
</body>

