<div class="mt-4">
<form method="POST">
  <div class="mt-10" action="">
    <label for="exampleInputEmail1">tu khoa</label>
    <input type="text" name ="q" class="form-control" id="search-input"  placeholder="Enter email">
  </div>
  <button type="submit" class="btn btn-primary">Tim kiem</button>
</form>
</div>